<a href="/">Main Page</a><br>
<a href="/customers">Customers</a><hr>

<h1>Order history for: <%= @customer.first_name %></h1>

<% @customer.orders.order(:special_instructions).each do |order| %>
  <p><%=link_to "Order Id:", "/orders/#{order.id}" %><%= order.id %>
    Special Instructions: <%= order.special_instructions %>
  </p>
<% end %>
<%= link_to "Create Order", "/customers/#{@customer.id}/orders/new" %>
