<a href="/">Main Page</a><br>
<a href="/customers">Customers</a><hr>



<h1>Order history for: <%= @customer.first_name %></h1>

<% @order.each do |order| %>
  <p>Order ID: #<%=link_to "#{order.id}", "/orders/#{order.id}" %><br>
    Special Instructions: <%= order.special_instructions %>
  </p>
<%= link_to "Delete Order", "/orders/#{order.id}", method: :delete %>
<% end %>
<p><%= link_to "Sort Alphabetically by Special Instructions", "/customers/#{@customer.id}/orders/alpha_sorted" %>
<br>
<br>
<%= link_to "Create Order", "/customers/#{@customer.id}/orders/new" %></p>
