<a href="/">Main Page</a><br>
<a href="/customers">Customers</a><hr>



<h1>Order history for: <%= @customer.first_name %></h1>

<% @order.each do |order| %>
  <p><a href="/orders/<%= order.id %>"><%= order.id %></a>
    Special Instructions: <%= order.special_instructions %>
  </p>
<%= link_to "Delete Order", "/orders/#{order.id}", method: :delete %>
<% end %>
<p><a href="/customers/<%= @customer.id %>/orders/alpha_sorted">Sort Alphabetically by Special Instructions</a><br>
<br>
<a href="/customers/<%= @customer.id %>/orders/new">Create Order</a></p>
