<a href="/">Back to Main Page</a> | <a href="/restaurants">All Restaurants</a> | <a href="/employees">All Employees</a>

<h1>All Active Employees</h1>

<% @employees.each do |employee| %>
  
  <h4><a href="/employees/<%= employee.id %>"><%= employee.first_name %> 
  <%= employee.last_name %></a> |
  <%= link_to 'Edit', "/employees/#{employee.id}/edit" %> |
  <%= link_to 'Delete', "/employees/#{employee.id}", method: :delete %></h4>

  <ul>
    <li>Current Employee</li>
    <li>Wage: $<%= employee.wage %> per hour</li>
  </ul>

  <hr>
<% end %>

<hr>