<%= link_to 'Back to Main Page', '/' %> | <%= link_to 'All Restaurants', '/restaurants' %> | <%= link_to 'All Employees', '/employees' %>

<h1>All Active Employees</h1>

<% @employees.each do |employee| %>

  <h4>
  <%= link_to "#{employee.first_name} #{employee.last_name}", "employees/#{employee.id}" %> |
  <%= link_to 'Edit', "/employees/#{employee.id}/edit" %> |
  <%= link_to 'Delete', "/employees/#{employee.id}", method: :delete %>
  </h4>

  <ul>
    <li>Current Employee</li>
    <li>Wage: $<%= employee.wage %> per hour</li>
  </ul>

  <hr>
<% end %>

<hr>