<a href="/">Back to Main Page</a> | <a href="/restaurants">All Restaurants</a> | <a href="/employees">All Employees</a>

<h1><%= @employee.first_name %> <%= @employee.last_name %></h1>
<ul>
  <% if @employee.currently_employed %>    
    <li>Current Employee</li>
    <li>Wage: $<%= @employee.wage %> per hour</li>
  <% else %>
    <li>Former Employee</li>
    <li>Wage at time of termination: $<%= @employee.wage %> per hour</li>
  <% end %>
</ul>

<%= link_to "Update #{@employee.first_name}", "/employees/#{@employee.id}/edit" %>

<br><br>

<%= link_to "Delete Employee", "/employees/#{@employee.id}", method: :delete %>