<%= link_to 'Back to Main Page', '/' %> | <%= link_to 'All Restaurants', '/restaurants' %> | <%= link_to 'All Employees', '/employees' %>

<h1>Employees of: <%= @restaurant.name %></h1>

<% if params[:wage_filter] %>
  <% employees = @restaurant.employees.where('wage > ?', params[:wage_filter]) %>
<% elsif params[:sorted] == 'true' %>
  <% employees = @restaurant.employees.order(:last_name) %>
<% else %>
  <% employees = @restaurant.employees %>
<% end %>

<% employees.each do |employee| %>
  <%= link_to "#{employee.first_name} #{employee.last_name}", "/employees/#{employee.id}" %>

  <ul>
    <% if employee.currently_employed %>    
      <li>Current Employee</li>
      <li>Wage: $<%= employee.wage %> per hour</li>
    <% else %>
      <li>Former Employee</li>
      <li>Wage at time of termination: $<%= employee.wage %> per hour</li>
    <% end %>
  </ul>

<% end %>

<%= link_to 'Create Employee', "/restaurants/#{@restaurant.id}/employees/new" %> |
<%= link_to 'Sort Employees Alphabetically', "/restaurants/#{@restaurant.id}/employees?sorted=true" %> |
<%= form_with url: "/restaurants/#{@restaurant.id}/employees", method: :get, local: true do |form| %>
  <%= form.submit 'Only return employees that earn more than:' %>
  <%= form.number_field :wage_filter, in: 0.00..100.00, step: 0.01, value: 15.00 %>
<% end %>
