<%= link_to 'Back to Main Page', '/' %> | <%= link_to 'All Restaurants', '/restaurants' %> | <%= link_to 'All Employees', '/employees' %>

<h1>Employees of: <%= @restaurant.name %></h1>

<% @restaurant.employees.order(:last_name).each do |employee| %>

  <a href="/employees/<%= employee.id %>"><%= employee.first_name %> <%= employee.last_name %></a>

  <ul>
    <% if employee.currently_employed %>    
      <li>Current Employee</li>
      <li>Wage: $<%= employee.wage %> per hour</li>
    <% else %>
      <li>Former Employee</li>
      <li>Wage at time of termination: $<%= employee.wage.round(2) %> per hour</li>
    <% end %>
  </ul>

<% end %>

<a href="/restaurants/<%= @restaurant.id %>/employees/new">Create Employee</a> |
<a href="/restaurants/<%= @restaurant.id %>/employees/alpha_sorted">Sort Employees Alphabetically</a>
<%= form_with url: "/restaurants/#{@restaurant.id}/employees/wage_filtered", method: :get, local: true do |form| %>
  <%= form.submit 'Only return employees that earn more than:' %>
  <%= form.text_field :wage %>
<% end %>