<a href="/">Back to Main Page</a> | <a href="/restaurants">All Restaurants</a> | <a href="/employees">All Employees</a>

<h1>Employees of: <%= @restaurant.name %></h1>

<% @restaurant.employees.each do |employee| %>
  
  <a href="/employees/<%= employee.id %>"><%= employee.first_name %> <%= employee.last_name %></a>

  <ul>
    <% if employee.currently_employed %>    
      <li>Current Employee</li>
      <li>Wage: $<%= employee.wage %> per hour</li>
    <% else %>
      <li>Former Employee</li>
      <li>Wage at time of termination: $<%= employee.wage %> per hour</li>
    <% end %>
  </ul>

<% end %>

<a href="/restaurants/<%= @restaurant.id %>/employees/new">
Create Employee</a> | 

<a href="/restaurants/<%= @restaurant.id %>/employees/alpha_sorted">
Sort Employees Alphabetically</a>