<a href="/">Back to Main Page</a><br>
<a href="/orders">Orders</a><br>
<a href="/customers">Customers</a><hr>


<h1>Our Wonderful Customers!</h1>
<hr>
<% @customers.order(created_at: :desc).each do |customer| %>
  <h3>ID #:<%= link_to "#{customer.id}", "/customers/#{customer.id}" %>
    <%= customer.first_name %> <%= customer.last_name %>
     Joined on: <%= customer.created_at %></h3>
  <br>
  <%= link_to "Update Customer", "/customers/#{customer.id}", method: :patch %> | <%= link_to "Delete Customer", "/customers/#{customer.id}", method: :delete %>
<hr>

<% end %>
<h2><%= link_to "New Customer", "/customers/new" %></h2>
