  <a href="/">Home</a><br>
  <a href="/customers">Back to Customers</a><br>
  <a href="/orders">Orders</a><hr>

<h3>Customer Snapshot</h3>
<p>
  <%= @customer.first_name %>
  <%= @customer.last_name %><br>
  <%= @customer.address %><br>
  <%= @customer.over_21 %><br>
  Rewards Points:<%= @customer.rewards %><br>
  Total Orders: <%= @customer.orders.count %><br>
  <a href="/customers/<%= @customer.id %>/orders"</a>View Orders
</p>
<a href="/customers/<%= @customer.id %>/edit">Update Customer</a>
