<%= form_with model: @order, url: "/orders/#{@order.id}", method: :patch, local: true do |form| %>
<h4><%= form.label :title, 'Make changes to an order:' %></h4>
<%= form.label :special_instructions, 'Special Instructions:' %><br>
<%= form.text_field :special_instructions %><br>
<%= form.label :number_of_items, 'Number of Items:' %><br>
<%= form.number_field :number_of_items, in: 0..100, step: 1, value: 1 %><br>
<%= form.label :paid, 'Order has been paid?:' %><br>
<%= form.label :paid_true, 'Yes' %><br>
<%= form.radio_button :paid, true %><br>
<%= form.label :paid_false, 'No' %><br>
<%= form.radio_button :paid, false %><br>
<%= form.submit 'Update Order' %>
<% end %>
