<%= link_to 'Back to Main Page', '/' %> | <%= link_to 'All Restaurants', '/restaurants' %> | <%= link_to 'All Employees', '/employees' %>

<form action="/restaurants/<%= @restaurant.id %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="patch">
  <p>Update restaurant:</p>
  <p>Name</p>
  <input type='text' name='restaurant[name]'>
  <p>Can this restaurant serve alcohol?</p>
  <input type='radio' name='restaurant[liquor_license]' value='Yes'>
    <label for='Yes'>Yes</label><br>
  <input type='radio' name='restaurant[liquor_license]' value='No'>
    <label for='No'>No</label><br>
  <p>Number of menu items:</p>
  <input type='integer' name='restaurant[menu_items]'><br/>
  <input type='submit' name='Update Restaurant'/>
</form>