<%= link_to 'Back to Main Page', '/' %> | <%= link_to 'All Restaurants', '/restaurants' %> | <%= link_to 'All Employees', '/employees' %>

<h1>All Restaurants</h1>

<% @restaurants.sort_by_created_at.each do |restaurant| %>

  <h4><%= link_to restaurant.name, "/restaurants/#{restaurant.id}" %> |
  <%= link_to 'Edit', "/restaurants/#{restaurant.id}/edit" %> |
  <%= link_to 'Delete', "/restaurants/#{restaurant.id}", method: :delete %></h4>

  <p>Created at: <%= restaurant.created_at %></p>

  <hr>
<% end %>

<h3><%= link_to 'New Restaurant', '/restaurants/new' %></h3>
