<%= link_to 'Back to Main Page', '/' %> | <%= link_to 'All Restaurants', '/restaurants' %> | <%= link_to 'All Employees', '/employees' %>
<hr>
<%= form_with model: @restaurant, url: "/restaurants", method: :post, local: true do |form| %>
  <h4><%= form.label :title, "Enter a new restaurant:" %></h4>
  <%= form.label :name, 'Name:' %><br>
  <%= form.text_field :name %><br><br>

  <%= form.label :liquor_license, 'Can this restaurant serve alcohol?' %><br>
  <%= form.label :liquor_license_true, 'Yes' %>
  <%= form.radio_button :liquor_license, true %><br>
  <%= form.label :liquor_license_false, 'No' %>
  <%= form.radio_button :liquor_license, false %><br><br>

  <%= form.label :menu_items, 'Number of menu items:' %><br>
  <%= form.number_field :menu_items, in: 0..1000, step: 1 %><br><br>
  <%= form.submit 'Create Restaurant' %>
<% end %>
